pandas
numpy
matplotlib
seaborn
scikit-learn
nltk
wordcloud
collections
pickle
streamlit

To install these packages, you can use the following command:
pip install -r requirements.txt

Additionally, nltk is a natural language processing toolkit, and you may need to download the Porter Stemmer from nltk. 
You can do this using the following Python code:
>>import nltk
>>nltk.download('punkt')
>>nltk.download('wordnet')
